<main class="container mt-5">
  <!-- Heading for the edit post section -->
  <h1 class="mb-4">Edit Post</h1>
  <form class="update-tech-post-form" class="mb-3">
    <!-- input field for the title of the post -->
    <div class="mb-3">
      <label for="title-update-tech-post" class="form-label">title</label>
      <input type="text" class="form-control" id="title-update-tech-post" placeholder="Enter post title" value="{{title}}" />
    </div>
    <!-- text area for the content of the post -->
    <div class="mb-3">
      <label for="content-update-tech-post" class="form-label">content</label>
      <textarea class="form-control" id="content-update-tech-post" rows="3" placeholder="Enter post content">{{content}}</textarea>
    </div>
    <!-- button to submit the form & update the post -->
    <button type="submit" id="update-tech-post" class="btn btn-primary">update post</button>
    <!-- button to delete the post -->
    <button type="button" id="delete-tech-post" class="btn btn-danger">delete post</button>
  </form>
</main>