<main class="container mt-5">
  <!-- heading for the login section -->
  <h1 class="mb-4">login</h1>
  <!-- form for user login -->
  <form id="loginForm" class="tech-login-form">
    <!-- input field for the username -->
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input type="text" class="form-control" id="username-login" placeholder="Enter your username" />
    </div>
    <!-- input field for the password -->
    <div class="mb-3">
      <label for="password" class="form-label">password</label>
      <input type="password" class="form-control" id="password-login" placeholder="Enter your password" />
    </div>
    <!-- button to submit the login form -->
    <button type="submit" class="btn btn-primary">login</button>
  </form>
</main>

