 <div class="container mt-5">
  <!-- heading for the form -->
  <h2 class="mb-4">create a blog contribution</h2>
  <!-- form for creating a new tech blog post -->
  <form class="new-tech-post-form">
    <!-- input field for the title of the blog post -->
    <div class="mb-3">
      <label for="title-new-tech-post" class="form-label">title:</label>
      <input type="text" class="form-control" id="title-new-tech-post" placeholder="Enter a title of your choice" />
    </div>
    <!-- text area for the content of the blog post -->
    <div class="mb-3">
      <label for="content-new-tech-post" class="form-label">content:</label>
      <textarea class="form-control" id="content-new-tech-post" rows="5" placeholder="Enter content here"></textarea>
    </div>
    <!-- button to submit the form & create the blog post -->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">create post</button>
    </div>
  </form>
</div>