 <main class="container mt-5">
  <!-- heading for the sign up section -->
  <h1 class="mb-4">sign up</h1>
  <form id="signup-form" class="tech-signup-form">
    <!-- input field for the username -->
    <div class="mb-3">
      <label for="username" class="form-label">username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter your username" />
    </div>
    <!-- input field for the email -->
    <div class="mb-3">
      <label for="email" class="form-label">email :</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email" />
    </div>
    <!-- input field for the password -->
    <div class="mb-3">
      <label for="password" class="form-label">password :</label>
      <input type="password" class="form-control" id="password" placeholder="Password must be over 8 characters long" />
    </div>
    <!-- button to submit the form & sign up -->
    <button type="submit" class="btn btn-primary">sign up</button>
  </form>
</main>